In [12]:
# !pip install pandas
# !pip install numpy
# !pip install matplotlib
# !pip install dbf

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

pd.set_option('display.max_columns', None)

In [18]:
fire_pts = pd.read_csv('data/NFDB_point_txt/NFDB_point_20220901.txt', low_memory=False)
fire_pts.head()

,FID,SRC_AGENCY,FIRE_ID,FIRENAME,LATITUDE,LONGITUDE,YEAR,MONTH,DAY,REP_DATE,ATTK_DATE,OUT_DATE,DECADE,SIZE_HA,CAUSE,PROTZONE,FIRE_TYPE,MORE_INFO,CFS_REF_ID,CFS_NOTE1,CFS_NOTE2,ACQ_DATE,SRC_AGY2,ECOZONE,ECOZ_REF,ECOZ_NAME,ECOZ_NOM
0,0,BC,1953-G00041,,59.963,-128.172,1953,5,26,1953-05-26 00:00:00,NaN,NaN,1950-1959,8.0,H,,Fire,,BC-1953-1953-G00041,,,2020-05-05 00:00:00,BC,12,12,Boreal Cordillera,CordillCre boreale
1,1,BC,1950-R00028,,59.318,-132.172,1950,6,22,1950-06-22 00:00:00,NaN,NaN,1950-1959,8.0,L,,Fire,,BC-1950-1950-R00028,,,2020-05-05 00:00:00,BC,12,12,Boreal Cordillera,CordillCre boreale
2,2,BC,1950-G00026,,59.876,-131.922,1950,6,4,1950-06-04 00:00:00,NaN,NaN,1950-1959,12949.9,H,,Fire,,BC-1950-1950-G00026,,,2020-05-05 00:00:00,BC,12,12,Boreal Cordillera,CordillCre boreale
3,3,BC,1951-R00097,,59.760,-132.808,1951,7,15,1951-07-15 00:00:00,NaN,NaN,1950-1959,241.1,H,,Fire,,BC-1951-1951-R00097,,,2020-05-05 00:00:00,BC,12,12,Boreal Cordillera,CordillCre boreale
4,4,BC,1952-G00116,,59.434,-126.172,1952,6,12,1952-06-12 00:00:00,NaN,NaN,1950-1959,1.2,H,,Fire,,BC-1952-1952-G00116,,,2020-05-05 00:00:00,BC,12,12,Boreal Cordillera,CordillCre boreale

In [3]:
fire_pts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 423831 entries, 0 to 423830
Data columns (total 27 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   FID         423831 non-null  int64
 1   SRC_AGENCY  423831 non-null  object
 2   FIRE_ID     423666 non-null  object
 3   FIRENAME    423830 non-null  object
 4   LATITUDE    423831 non-null  float64
 5   LONGITUDE   423831 non-null  float64
 6   YEAR        423831 non-null  int64
 7   MONTH       423831 non-null  int64
 8   DAY         423831 non-null  int64
 9   REP_DATE    420118 non-null  object
 10  ATTK_DATE   28740 non-null   object
 11  OUT_DATE    213092 non-null  object
 12  DECADE      423831 non-null  object
 13  SIZE_HA     423831 non-null  float64
 14  CAUSE       423590 non-null  object
 15  PROTZONE    422821 non-null  object
 16  FIRE_TYPE   423831 non-null  object
 17  MORE_INFO   423831 non-null  object
 18  CFS_REF_ID  423831 non-null  object
 19  CFS_NOTE1   423831 non-null  object
 20  CFS_NOTE2   423831 non-null  object
 21  ACQ_DATE    413226 non-null  object
 22  SRC_AGY2    423831 non-null  object
 23  ECOZONE     423831 non-null  int64
 24  ECOZ_REF    423831 non-null  object
 25  ECOZ_NAME   423831 non-null  object
 26  ECOZ_NOM    423831 non-null  object
dtypes: float64(3), int64(5), object(19)
memory usage: 87.3+ MB

In [6]:
fire_pts.describe()

,FID,LATITUDE,LONGITUDE,YEAR,MONTH,DAY,SIZE_HA,ECOZONE
count,423831.000000,423831.000000,423831.000000,423831.000000,423831.000000,423831.000000,4.238310e+05,423831.000000
mean,211915.000000,51.895936,-104.253547,1990.464784,6.585818,15.441048,3.162710e+02,9.376594
std,122349.615308,4.467770,20.412661,47.872423,1.675279,8.983980,5.617050e+03,3.631528
min,0.000000,0.000000,-166.044000,-999.000000,0.000000,0.000000,0.000000e+00,0.000000
25%,105957.500000,49.133700,-120.112350,1979.000000,5.000000,8.000000,1.000000e-01,6.000000
50%,211915.000000,51.023000,-114.503000,1991.000000,7.000000,15.000000,1.000000e-01,9.000000
75%,317872.500000,54.630289,-88.303603,2005.000000,8.000000,23.000000,1.000000e+00,14.000000
max,423830.000000,70.000000,116.188000,2021.000000,12.000000,31.000000,1.050000e+06,15.000000

In [21]:
fire_pts[fire_pts['YEAR'] < 0]

,FID,SRC_AGENCY,FIRE_ID,FIRENAME,LATITUDE,LONGITUDE,YEAR,MONTH,DAY,REP_DATE,ATTK_DATE,OUT_DATE,DECADE,SIZE_HA,CAUSE,PROTZONE,FIRE_TYPE,MORE_INFO,CFS_REF_ID,CFS_NOTE1,CFS_NOTE2,ACQ_DATE,SRC_AGY2,ECOZONE,ECOZ_REF,ECOZ_NAME,ECOZ_NOM
400991,400991,YT,9900OC999,,0.000000,0.000000,-999,0,0,NaN,NaN,NaN,2000-2009,19.00,U,,,,YT--999-9900OC999,lat/long coords n/a,Exact year of fire unknown. Refer to decade,2016-06-16 00:00:00,YT,4,4,Taiga Plain,Taiga des plaines
400992,400992,YT,9990OC099,,0.000000,0.000000,-999,0,0,NaN,NaN,NaN,1990-1999,0.00,U,,,,YT--999-9990OC099,lat/long coords n/a,Exact year of fire unknown. Refer to decade,2016-06-16 00:00:00,YT,4,4,Taiga Plain,Taiga des plaines
400993,400993,YT,9990OC098,,0.000000,0.000000,-999,0,0,NaN,NaN,NaN,1990-1999,0.00,U,,,,YT--999-9990OC098,lat/long coords n/a,Exact year of fire unknown. Refer to decade,2016-06-16 00:00:00,YT,4,4,Taiga Plain,Taiga des plaines
400994,400994,YT,9990OC007,,66.249368,-134.241586,-999,0,0,NaN,NaN,NaN,1990-1999,1415.88,U,,,,YT--999-9990OC007,Exact year of fire unknown. Refer to decade,,2016-06-16 00:00:00,YT,4,4,Taiga Plain,Taiga des plaines
400995,400995,YT,9990OC009,,66.299131,-134.169683,-999,0,0,NaN,NaN,NaN,1990-1999,1679.13,U,,,,YT--999-9990OC009,Exact year of fire unknown. Refer to decade,,2016-06-16 00:00:00,YT,4,4,Taiga Plain,Taiga des plaines
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
405199,405199,YT,9990WL009,,60.649179,-125.864257,-999,0,0,NaN,NaN,NaN,1990-1999,33.89,U,,,,YT--999-9990WL009,Exact year of fire unknown. Refer to decade,,2016-06-16 00:00:00,YT,12,12,Boreal Cordillera,CordillCre boreale
405295,405295,YT,9950WL001,,60.174191,-125.256812,-999,0,0,NaN,NaN,NaN,1950-1959,6401.05,U,,,,YT--999-9950WL001,Exact year of fire unknown. Refer to decade,,2016-06-16 00:00:00,YT,12,12,Boreal Cordillera,CordillCre boreale
405296,405296,YT,9960WL002,,60.310713,-125.410001,-999,0,0,NaN,NaN,NaN,1960-1969,75.90,U,,,,YT--999-9960WL002,Exact year of fire unknown. Refer to decade,,2016-06-16 00:00:00,YT,12,12,Boreal Cordillera,CordillCre boreale
405297,405297,YT,9990WL003,,60.382351,-125.397973,-999,0,0,NaN,NaN,NaN,1990-1999,99.58,U,,,,YT--999-9990WL003,Exact year of fire unknown. Refer to decade,,2016-06-16 00:00:00,YT,12,12,Boreal Cordillera,CordillCre boreale
405323,405323,YT,9970WL001,,60.004732,-126.891039,-999,0,0,NaN,NaN,NaN,1970-1979,235.95,U,,,,YT--999-9970WL001,Exact year of fire unknown. Refer to decade,,2016-06-16 00:00:00,YT,12,12,Boreal Cordillera,CordillCre boreale